<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Cadoryx" Manufacturer="Cadoryx"
           Version="$(var.ProductVersion)"
           UpgradeCode="BD591313-296A-49E8-B6B7-4F0C504D5FE0"
           Scope="perUser" InstallerVersion="500">
    <MajorUpgrade DowngradeErrorMessage="A newer version of Cadoryx is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="ProgramsFolder" Name="Programs">
        <Directory Id="INSTALLFOLDER" Name="Cadoryx" />
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Cadoryx" />
    </StandardDirectory>
    <Component Id="ApplicationShortcut" Directory="ApplicationProgramsFolder" Guid="*">
      <Shortcut Id="StartMenuShortcut" Name="Cadoryx"
                Target="[INSTALLFOLDER]Cadoryx.wpf.exe"
                WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\Cadoryx"
                     Name="Installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>
    <Feature Id="Complete" Title="Cadoryx" Level="1">
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentGroupRef Id="ApplicationFiles" />
    </Feature>
  </Package>
</Wix>
